.art-event {
    padding: 30px;
    border: 1px solid transparent;
    margin-bottom: 20px;

    .title {
        font-weight: bold;
        color: $white;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;

        i {
            margin-right: 8px;
        }
    }

    p {
        color: $white;
        font-weight: 300;
    }

    .btn-more {
        color: $main;
        padding: 0;
        border-bottom: 1px solid $main;

        &:hover {
            background: transparent;
            color: $main;
            border-color: transparent;
            border-bottom: 1px solid $main;
        }
    }

    &:hover {
        border-color: $main;
    }
}


.art-work {
    position: relative;

    header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px;
        z-index: 2;

        .sub {
            font-size: 14px;
            color: $main;
            text-transform: uppercase;
        }

        .title {
            font-size: 18px;
            font-weight: 700;
            color: $white;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            margin: 15px 0;
        }

        .btn-casestudy {
            height: 36px;
            line-height: 34px;
            padding: 0 15px 0 20px;
            color: $white;
            border: 1px solid $main;
            display: inline-block;
            text-decoration: none;

            &:hover {
                background-color: $main;
            }
        }
    }

    &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 33%;
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 1;
    }
}

.art-new {
    background: $blackgray;

    header {
        padding: 25px;

        .title {
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 16px;
            line-height: 1.3;
            font-family: 'Fira Sans Extra Condensed', sans-serif;

            a {
                color: $white;
                text-decoration: none;

                &:hover {
                    color: $main;
                }
            }
        }

        .link {
            color: $main;
        }
    }

    @include lg() {
        margin-bottom: 30px;
    }
}

.art-news {
    margin-bottom: 30px;

    header {
        text-align: center;
        position: relative;
        padding-top: 20px;

        h2 {
            font-size: 22px;
            font-weight: 900;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            text-align: left;
            a {
                color: $black;
                text-decoration: none;

                &:hover {
                    color: $main;
                }
            }
        }

        .cate {

            text-decoration: none;
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;

            i {
                padding: 5px 15px;
                background: $white;
                color: $black;
                display: inline-block;
                font-style: normal;
                font-weight: 600;
            }
        }
    }
}

.art-news-s {
    header {
        padding-top: 16px;

        h3 {
            font-size: 15px;
            font-weight: 900;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            margin-bottom: 16px;
            a {
                color: $black;
                text-decoration: none;

                &:hover {
                    color: $main;
                }
            }

        }

        .cate {
            color: $darkgray;
            text-decoration: none;
            font-size: 14px;
            &:hover {
                color: $main;
            }
        }
    }
}

.art-proundworks {
    cursor: pointer;
    margin-bottom: 30px;
    a {
        text-decoration: none;
    }
    header {
        text-align: center;
        font-family: "Fira Sans Extra Condensed", sans-serif;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid $white;
        .cate {
            font-size: 14px;
            font-weight: 400;
            color: #FFD400;
            display: block;
            padding-bottom: 10px;
        }

        h3 {
            height: 45px;
            position: relative;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 60px;
            margin: 0;
            overflow: hidden;

        }
    }
    &.no-border {
        header {
            border-bottom: 0;
        }
    }
}