.art-list {
    display: flex;
    padding: 20px 0;
    border-top: 1px solid #414142;
    .outer-thumb {
        width: 360px;
        position: relative;
        .cate {
            position: absolute;
            text-decoration: none;
           
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            i {
                padding: 5px 15px;
                background: #fff;
                color: #000000;
                display: inline-block;
                font-style: normal;
                font-weight: 600;
            }
        }
        @include xl(){
            width: 300px;
        }
        @include lg(){
            width: 48%;
        }
       
    }
    header {
        width: 1px;
        flex-grow: 1;
        padding-left: 25px;
        h4 {
            font-size: 20px;
            font-weight: 900;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            margin-bottom: 15px;
            a {
                color: $black;
                text-decoration: none;
            }
           
        }
        p {
            color: #c4c4c4;
            font-size: 14px;
        }
    }
    &:first-child {
        border-top: 0;
        padding-top: 0;
    }
    @include sm(){
        header {
            p {
                display: none;
            }
        }
    }
}

.art-position {
    padding: 25px 0;
    border-top: 1px dashed $black;
    display: flex;
    width: 100%;
    .des {
        padding-left: 25px;
        width: 1px;
        flex-grow: 1;
        > strong {
            display: block;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-size: 18px;
            margin-bottom: 13px;
        }
        p {
            margin-bottom: 0;
        }
    }
    .link-more {
        margin-left: auto;
    }
    &:first-child {
        padding-top: 0;
        border-top: 0;
    }
}