.btn-more {
    display: inline-block;
    text-decoration: none;
    color: $black;
    font-size: 13px;
    padding: 5px 60px;
    border: 1px solid $black;
    &:hover {
        color: $white;
        background: $main;
        border-color: $main;
    }
    &.white {
        border-color: $white;
        color: $white;
    }
    &:hover {
        color: $white;
        background: $main;
        border-color: $main;
    }
}