.footer {
    padding:100px 0 0 0;
    background: $black;
    font-family: 'Comfortaa', cursive;
    .top-footer {
        display: flex;
        justify-content: space-between;
        .first {
            width: 40%;
            padding-right: 30px;
            p {
                margin: 20px 0 30px 0;
                color: $white;
            }
        }
        .second {
            width: 15%;
            strong {
                color: $white;
                font-size: 20px;
                font-family: 'Fira Sans Extra Condensed', sans-serif;
                display: block;
                margin-bottom: 30px;
            }
            a {
                display: block;
                margin-top: 15px;
                color: $white;
                text-decoration: none;
                &:hover {
                    color: $main;
                }
            }
        }
        .third {
            width: 35%;
            padding-left: 30px;
            address {
                margin-bottom: 10px;
                color: $white;
            }
            strong {
                color: $white;
                font-size: 20px;
                font-family: 'Fira Sans Extra Condensed', sans-serif;
                display: block;
                margin-bottom: 30px;
            }
            a {
                display: block;
                margin-top: 7px;
                color: $white;
                text-decoration: none;
                &:hover {
                    color: $main;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid $darkgray;
        margin-top: 50px;
        color: $white;
        font-size: 14px;
    }@include lg(){
        .top-footer {
            display: block;
            .first {
                width: 100%;
                padding: 0;
                
            }
            .second {
                width: 100%;
                margin: 50px 0;
            }
            .third {
                padding-left: 0;
            }
        }
    }
    @include sm(){
        .frm-mail {
            display: none;
        }
    }
}
.frm-mail {
   
    position: relative;
    display: flex;
    .txt-mail {
        height: 60px;
        border: 1px solid $main;
        box-shadow: none;
        outline: none;
        padding-left: 20px;
        width: 100%;
        border-radius: 5px;
        padding-right: 180px;
        font-size: 16px;
        background: $black;
        &::placeholder {
            color: $white;
        }
    }
    .btn-mail {
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        padding: 0 20px;
        background: $main;
        border: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 16px;
        &:hover {
            color: $main;
            background: $blackgray;
        }
    }
}

.list-social {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    li {
        margin-right: 20px;
        cursor: pointer;
    }
}