.section {
    padding: 80px 0;
    font-family: 'Comfortaa', cursive;
    &.section-contact {
        padding: 30px 0;
        background: #fff url(../img/bg-contact.jpg) left top no-repeat;
        background-size: cover;
    }

    @include lg() {
        padding: 50px 0;
        width: 100%;
        overflow: hidden;
    }

    &.section-life {
        background: $white  url(../img/bg-dot-1.jpg) no-repeat center/cover;
    }

    &.section-subscrible {
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
        background: $black;
        color: $white;
        padding-top: 120px;
        strong {
            font-size: 30px;
            font-family: "Fira Sans Extra Condensed", sans-serif;
            text-align: center;
            display: block;
            margin-bottom: 20px;
        }

        .frm-mail {
            max-width: 850px;
            margin: 0 auto;
            .txt-mail {
                background: $white;
                &::placeholder {
                    color: $black;
                }
            }
            .btn-mail {
                font-weight: bold;
            }
        }
        @include lg() {
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
            padding-top: 80px;

        }
        @include sm() {
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
            padding-top: 60px;

        }
    }

    &.section-study {
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}


.outer-thanhtuu {
    display: flex;
    justify-content: space-between;

    .box-thanhtuu {
        width: 162px;
        height: 162px;
        border: 1px solid $white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        position: relative;

        .icon-plus {
            position: absolute;
            right: -1px;
            top: -1px;
        }

        .inner {
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            padding: 0 10px;

            >span {
                display: block;
                font-size: 13px;
                width: 100%;
                text-align: center;

                &:nth-child(3) {
                    height: 39px;
                }
            }

            strong {
                text-align: center;
                font-size: 36px;
                font-weight: 500;
                position: relative;
                font-family: 'Fira Sans Extra Condensed', sans-serif;

                sub {
                    position: absolute;
                    font-size: 10px !important;
                    right: -28px;
                    bottom: 15px;
                    font-family: 'Mulish', sans-serif;
                }

                sup {
                    font-size: 30px !important;
                    position: absolute;
                    font-size: 10px;
                    right: -18px;
                    top: 20px;
                    font-weight: 400;

                }
            }

        }

        @include xl() {
            width: 132px;
            height: 132px;
        }


    }

    @include sm() {
        flex-wrap: wrap;

        .box-thanhtuu {
            width: 100%;
            margin-bottom: 30px !important;
            height: 152px;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

}

.box-contact {
    color: $black;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;

        strong {
            font-size: 24px;
            display: block;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            margin-top: 5px;
        }
    }

    @include lg() {
        display: block;
        text-align: center;

        p {
            margin-bottom: 20px;
        }
    }
}

.outer-parallax {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        height: 20%;
        width: 100%;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60%);
    }

    &.outer-parallax-35 {
        padding-bottom: 35%;
        height: 0;
        @include lg(){
            padding-bottom: 0;
            min-height: 100vh;
        }
    }
    &.outer-parallax-contact {
        height: auto;
        min-height: 100vh;
    }
}

.outer-2 {
    display: flex;
   
    border-top: 1px dashed $white;
    border-bottom: 1px dashed $white;
    padding-top: 40px;
    padding-bottom: 40px;

    .box-txt {
       
        padding-left: 50px;
        &:first-child {
            padding-left: 0;
            padding-right: 50px;
        }
    }

    @include sm() {
        flex-wrap: wrap;
        margin: 0;

        .box-txt {
            padding: 15px 0;
            width: 100%;
        }
    }
}

.link-download {
    text-align: center;
    display: inline-flex;
    font-size: 18px;
    text-decoration: underline;
    color: $white;
    align-items: center;

    i {
        margin-right: 8px;
    }
}

.bg-white {
    .link-download {
        color: $black;
        margin-top: 16px;
    }
}

.wrapper-thanhtuu {
    &.center {
        text-align: center;

        .outer-thanhtuu {
            justify-content: center;

            .box-thanhtuu {
                margin: 0 40px;
            }
        }
    }
}

.outer-value {
    display: flex;
    justify-content: center;

    .box-value {
        border-radius: 3px;
        display: flex;
        width: 110px;
        height: 128px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        margin: 0 10px;

        i {
            display: block;
            margin: 0 auto 10px auto;
        }

        &.one {
            background: #FFD300;
        }

        &.two {
            background: #D91378;
        }

        &.three {
            background: #13B6B5;
        }

        &.four {
            background: #14AEEF;
        }

        &.five {
            background: #F7941D;
        }

        &.six {
            background: #CFAC53;
        }
    }

    @include lg() {
        flex-wrap: wrap;

        .box-value {
            margin-bottom: 20px;
            width: 125px;
        }
    }
}

.cm-detail {

    p {
        padding: 20px 60px;
        position: relative;
        margin-bottom: 40px;
        &.p-detail {
            span {
                display: block;
                margin-bottom: 20px;
            }
        }
        .icon-quote-left {
            position: absolute;
            left: 0;
            top: 0;
        }

        .icon-quote-right {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .rating {
        padding-left: 60px;

        i {
            display: inline-block;
        }

    }

    .name {
        padding-left: 60px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 20px;
        display: block;

        span {
            font-size: 16px;
            color: $main;
            display: block;
            font-weight: normal;
            font-weight: 400;
        }
    }
}

.outer-life {
    display: flex;

    .art-life {
        width: 25%;
        overflow: hidden;
        position: relative;
        height: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:first-child {
            width: 50%;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            height: 20%;
            width: 100%;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60%);
        }

        .title {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 20px 40px;
            color: $white;
            z-index: 2;
            font-size: 20px;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            text-decoration: none;
        }
    }

    @include lg() {
        flex-wrap: wrap;

        .art-life {
            width: 50%;

            &:first-child {
                width: 100%;
            }
        }
    }

    @include sm() {
        .art-life {
            height: 300px;

            &:first-child {
                height: 400px;
            }
        }
    }
}

.accordion-flush {
    .accordion-item {
        border: none;
        font-size: 16px;
        line-height: 1.6;
        padding: 5px 0;
    }

    .accordion-button {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 18px;
        color: $black;
        padding: 0 0 10px 0;
        background: none !important;
        border: 0;
        box-shadow: none;

        &:after {
            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }

        i {
            margin-right: 10px;
        }
    }
}

.breadcrumb {
    margin-bottom: 30px;
    font-size: 16px;

    .breadcrumb-item {
        color: #828282;

        a {
            color: #B9B9B9;
            text-decoration: none;
        }
    }

    &.center {
        justify-content: center;
    }

}

.box-scroll {
    max-width: 400px;
    padding: 15px 25px;
    background: rgba(207, 179, 83, 0.31);
    border-radius: 5px;
    margin-bottom: 45px;

    ul {
        padding: 0;
        margin: 0;
        display: block;

        li {
            display: block;
            margin-top: 10px;

            a {
                font-size: 16px;
                color: $black;
                text-decoration: none;

                i.icon-check {
                    margin-right: 10px;
                    width: 18px;
                    height: 18px;
                }

                &.active {
                    background: none !important;
                    color: $main !important;
                }

                &:hover {
                    color: $main !important;
                }
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.art-detail {
    font-size: 18px;
    line-height: 1.6;
    .list-tools {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        li {
            cursor: pointer;
            display: flex;
            height: 32px;
            border-radius: 16px;
            border: 1px solid $black;
            margin: 0 8px;
            padding: 0 20px;
            text-transform: uppercase;
            font-size: 12px;
            align-items: center;
            font-weight: 600;
            i {
                margin-right: 10px;
            }
        }
    }
    .outer-img {
        margin-bottom: 30px;
        text-align: center;

        img {
            max-width: 100%;

        }
        .s-txt {
            color: #C4C4C4;
            font-size: 17px;
            display: block;
            margin-top: 10px;
        }
    }

    .outer-video {
        width: 100%;
        height: 0px;
        padding-bottom: 56.25%;
        position: relative;

        iframe {
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.outer-parallax-contact {
    .container {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: space-between;

        .frm-apply {
            width: 50%;
            background: rgba(0, 0, 0, 0.6);
            padding: 30px;
            color: $white;
            font-family: 'Comfortaa', cursive;

            .form-control {
                color: $white;
                border-bottom: 1px solid $main;
            }
            @include lg(){
                width: 100%;
            }
        }
    }

    .bg {
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        background: rgba(255, 212, 0, 0.5);
        position: absolute;
        z-index: 1;
        -webkit-clip-path: polygon(40% 0%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(40% 0%, 100% 0, 100% 100%, 0% 100%);
        @include sm(){
            display: none;
        }
    }
}

.frm-general {
    position: relative;
    z-index: 2;
    font-size: 16px;
    color: $black;
    font-family: 'Comfortaa', cursive;
    .inner-frm {
        position: relative;
        padding-top: 25px;

        >label {
            position: absolute;
            left: 0;
            top: 20px;
            transition: all 0.2s ease-in-out 0s;
            color: $black;
        }

        &:hover {
            >label {
                top: 0;
                font-size: 14px;
            }
        }
    }

    .red {
        color: $red;
    }

    p {
        font-size: 18px;
    }

    .form-control {
        padding: 0;
        border: 0;
        border-radius: 0;
        background: none;
        border-bottom: 1px solid $main;
        resize: none;

        &:focus {
            border: 0;
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid #414142;
        }
        &::placeholder {
            color: $black;
        }
    }

    .btn-style {
        width: 100%;
        border: 0;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.box-bg {
    width: 100%;
    max-width: 300px;
    text-align: center;

    img {
        width: 300px;
    }

    span {
        display: block;
        font-size: 16px;
        margin-top: 16px;
        color: $white;
    }
    @include lg(){
        display: none;
    }
}

.list-news {
    margin: 0 0 45px 0;
    text-align: center;
    padding: 0;

    li {
        display: inline-block;
        padding: 0 12px;

        a {
            font-size: 18px;
            color: $black;
            text-decoration: none;

            &:hover {
                color: $main;
            }
        }
    }
}

.block-slide {
    margin-top: 40px;
    .title {
        background: url(../img/bgd-title.png) left top no-repeat;
        background-size: cover;
    }
    .inner-block-slide {
        padding: 30px;
        border: 1px solid #C4C4C4;
        position: relative;
        .swiper-button-next {
            right: -60px;
            &::after {
                font-size: 24px;
                color: #444;
            }
        }
        .swiper-button-prev {
            left: -60px;
            &::after {
                font-size: 24px;
                color: #444;
            }
        }
    }

    .title {
        text-align: center;
        border-bottom: 3px solid $black;

        span {
            display: inline-block;
            padding: 5px 40px;
            background: $black;
            color: $white;
            text-transform: uppercase;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-size: 20px;
        }
    }
}


.section-list {
    padding-top: 0;

    .container {
        display: flex;

        .right-side {
            width: 300px;

        }

        .left-side {
            width: 1px;
            flex-grow: 1;
            padding-right: 30px;
        }
    }
    @include lg(){
        .container {
            display: block;
            .left-side {
                width: 100%;
                padding: 0;
            }
            .right-side {
                margin-top: 50px;
                width: 100%;
            }
        }
       
    }
}

.section-believe {
    @include sm() {
        .px-5 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

.block-bar {
    .inner {
        border: 2px solid rgba(214, 214, 214, 0.4);
        padding: 20px;
    }

    .title {
        padding: 10px 20px;
        color: $white;
        background: #414142;
        font-size: 18px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        text-transform: uppercase;
    }

    .title-list {
        font-size: 16px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        padding: 15px 0;
        border-top: 1px solid $blackgray;
        margin-bottom: 0;

        a {
            color: $black;
            text-decoration: none;

            &:hover {
                color: $main;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    .art-news-s {
        header {
            h3 {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

.sticky-top {
    @include min-xl() {
        top: 110px;
    }
}

.art-detail {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 34px;
        font-weight: 900;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        text-align: center;
        margin-bottom: 30px;
    }

    header {
        width: 100%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;

        .txt-head {
            border-bottom: 1px solid #eee;
            padding-bottom: 16px;
        }
    }

    section {
        width: 100%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

}

.outer-tag {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    align-items: center;

    .tag {
        display: flex;
        font-weight: 900;
        flex-grow: 1;
        width: 1px;
        flex-wrap: wrap;
        >a {
            font-weight: 400;
            margin-right: 16px;
            color: $darkgray;
            text-decoration: none;
            &:first-child {
                margin-left: 16px;
            }
            &:hover {
                color: $main;
            }
        }
    }

    .list-social {
        display: flex;
        margin: 0;
        width: 165px;
      
        li {
           margin-right: 15px;
            a {
                border: 1px solid $main;
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
                display: flex;
                border-radius: 50px;
            }
    
            &:last-child {
                margin-right: 0;
            }
    
            i {}
        }
    }
    @include lg(){
        flex-wrap: wrap;
        .list-social {
            width: 100%;
            margin-top: 20px;
            justify-content: center;
        }
    }
}

.list-related-news {
    padding-left: 16px;
    border-top: 1px solid #000;
    padding-top: 30px;

    li {
        padding: 7px 0;

        a {
            text-decoration: none;
            font-weight: 700;
            color: #414142;

            &:hover {
                color: $main;
            }
        }
    }
}

.list-position {
    font-size: 18px;
    padding-right: 50px;

    li {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        align-items: center;
        margin-bottom: 20px;

        .number {
            font-size: 16px;
        }

        .left {
            display: flex;
            align-items: center;

            i {
                margin-right: 16px;
            }
        }
    }
    @include lg(){
        padding-left: 0;
        padding-right: 0;
        margin-top: -16px;
        margin-bottom: 50px;
    }
}


.pagination {
    justify-content: center;

    .page-item {
        .page-link {
            padding: 14px 20px;
            background: #F1F1F1;
            color: #696969;
            border: none;
            outline: none;
            box-shadow: none;
            font-weight: 700;

            &:hover {
                color: $black;
            }
        }

        &.active {
            .page-link {
                background: $main;

            }
        }

        &:first-child {
            a {
                padding-left: 30px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }
        }

        &:last-child {
            a {
                padding-right: 30px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }

}


.border-dash {
    margin: 30px 0;
    border-top: 1px dashed $blackgray;
    display: block;
}

.link-job {
    font-weight: 900;
    color: $black;
    display: flex;
    align-items: center;
    text-decoration: none;

    i {
        margin-left: 10px;
    }
}

.outer-file {
    position: relative;
    display: flex;

    label {
        cursor: pointer;
        display: flex;
        width: 220px;
        position: relative;
        z-index: 2;
        background: $white url(../img/icon/icon-file.svg) left center no-repeat;
        padding-left: 30px;
        letter-spacing: -0.5px;
        

    }

    input {
        cursor: pointer;
        border: 0 !important;
        background: none;
        position: absolute;
        left: 128px;
        top: 0;
        z-index: 1;
    }
}

.block-filter {
    margin-bottom: 50px;
    .select2{
        width: 100%!important;
        
        .selection {
          
            .select2-selection {
                height: 42px;
                border-radius: 0;
                .select2-selection__rendered{
                    height: 40px;
                    line-height: 40px;
                    background: $black;
                    border-radius: 0;
                    color: $white;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .select2-selection__arrow{
                    top: 8px;
                    right: 8px;
                    b {
                        border: 0;
                        width: 20px;
                        height: 12px;
                        background: url(../img/icon/icon-up.svg) center no-repeat;
                        margin-left: 0;
                        left: 0;
                        margin-top: -6px;
                    }
                }
            }
        }
    }
}
.select2-dropdown {
    margin-top: 5px;
    border-radius: 0;
    border: 0;
    .select2-search {
        display: none;
       
    }
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: $darkgray;
    color: $white;
    &:hover {
        background: $darkgray;
        color: $white;
        
    }
}
.select2-container--default .select2-results__option--selected {
    background: none;
    color: $black;
}
.select2-results__option {
    background: none;
    color: $black;
    padding-left: 15px;
    padding-right: 15px;
}

.inner-contact {
    position: relative;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    background: $white;
    .list-share {
        position: absolute;
        right: -50px;
        top: 0px;
        width: 50px;
        background: $main;
        list-style: none;
        padding: 0;
        li {
            display: flex;
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                background: $white;
            }
        }
    }
    .map {
        width: 25%;
    }
    
    .frm-apply {
        width: 45%;
        
        padding: 50px;
    }
    .box-contacts {
        width: 30%;
        padding: 40px 40px 40px 0;
        img {
            display: block;
            max-width: 100%;
            margin-bottom: 48px;
        }
        address {
            font-family: "Fira Sans Extra Condensed", sans-serif;
            span {
                display: block;
                color: $black;
                margin-top: 20px;
                padding-left: 40px;
                position: relative;
                i {
                    
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            a {
                display: block;
                color: $black;
                text-decoration: none;
                margin-top: 20px;
                padding-left: 40px;
                position: relative;
                i {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
    .swiper-brand {
        width: 100%;
        border-top: 1px solid $black;
        margin-top: 30px;
    }
}

.contact {
    padding-bottom: 230px;
    background: url(../img/bg-contact.png) center bottom no-repeat;
}

.nav-pillss {
    padding-bottom: 16px;
    border-bottom: 1px dashed $black;
    .nav-item{
        margin-right: 30px;
    }
    .nav-link {
        padding: 0;
        font-family: "Fira Sans Extra Condensed", sans-serif;
        font-weight: 800;
        font-size: 18px;
        color: #C4C4C4;
       
       cursor: pointer;
        &.active {
            background: none;
            color: $black;
        }
        
    }
}