.header {
    position: relative;
    .btn-scroll {
        position: absolute;
        left: 50%;
        bottom: 5%;
        width: 30px;
        height: 50px;
        border-radius: 15px;
        border: 1px solid $white;
       
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}