.icon {
    display: inline-block;
    vertical-align: middle;
    &.icon-search {
        width: 24px;
        height: 24px;
        background: url('../img/icon/icon-search.svg') no-repeat center/contain;
    }
    &.icon-down {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-down.svg') no-repeat center/contain;
    }
    &.icon-pink {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-pink.svg') no-repeat center/contain;
    }
    &.icon-blue {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-blue.svg') no-repeat center/contain;
    }
    &.icon-orange {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-orange.svg') no-repeat center/contain;
    }
    &.icon-stella {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-stella.svg') no-repeat center/contain;
    }
    &.icon-yellow {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-yellow.svg') no-repeat center/contain;
    }
    &.icon-red {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-red.svg') no-repeat center/contain;
    }
    &.icon-thanhtuu {
        width: 36px;
        height: 36px;
        background: url('../img/icon/icon-thanhtuu.svg') no-repeat center/contain;
    }
    &.icon-right {
        width: 16px;
        height: 16px;
        background: url('../img/icon/icon-more.svg') no-repeat center/contain;
    }
    &.icon-ins {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-ins.svg') no-repeat center/contain;
    }
    &.icon-facebook {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-facebook.svg') no-repeat center/contain;
    }
    &.icon-plus {
        width: 26px;
        height: 30px;
        background: url('../img/icon/icon-plus.png') no-repeat center/contain;
    }
    &.icon-download {
        width: 34px;
        height: 34px;
        background: url('../img/icon/icon-download.svg') no-repeat center/contain;
    }
    &.icon-sumenh {
        width: 34px;
        height: 34px;
        background: url('../img/icon/icon-sumenh.svg') no-repeat center/contain;
    }
    &.icon-kindness {
        width: 36px;
        height: 36px;
        background: url('../img/icon/icon-kindness.svg') no-repeat center/contain;
    }
    &.icon-fresness {
        width: 36px;
        height: 36px;
        background: url('../img/icon/icon-fresness.svg') no-repeat center/contain;
    }
    &.icon-transparency {
        width: 36px;
        height: 36px;
        background: url('../img/icon/icon-transparent.svg') no-repeat center/contain;
    }
    &.icon-commitment {
        width: 36px;
        height: 36px;
        background: url('../img/icon/icon-commitment.svg') no-repeat center/contain;
    }
    &.icon-diversity {
        width: 36px;
        height: 36px;
        background: url('../img/icon/icon-diversity.svg') no-repeat center/contain;
    }
    &.icon-daring {
        width: 36px;
        height: 36px;
        background: url('../img/icon/icon-daring.svg') no-repeat center/contain;
    }
    &.icon-quote-left {
        width: 38px;
        height: 25px;
        background: url('../img/icon/icon-quote-left.svg') no-repeat center/contain;
    }
    &.icon-quote-right {
        width: 38px;
        height: 25px;
        background: url('../img/icon/icon-quote-right.svg') no-repeat center/contain;
    }
    &.icon-star {
        width: 24px;
        height: 24px;
        background: url('../img/icon/icon-star.svg') no-repeat center/contain;
    }
    &.icon-star-disable {
        width: 24px;
        height: 24px;
        background: url('../img/icon/icon-star-disable.svg') no-repeat center/contain;
    }
    &.icon-download-b {
        width: 34px;
        height: 34px;
        background: url('../img/icon/icon-down-b.svg') no-repeat center/contain;
    }
    &.icon-check {
        width: 34px;
        height: 34px;
        background: url('../img/icon/icon-check-circle.svg') no-repeat center/contain;
    }
    &.icon-user-plus {
        width: 30px;
        height: 30px;
        background: url('../img/icon/icon-user-plus.svg') no-repeat center/contain;
    }
    &.icon-date {
        width: 24px;
        height: 24px;
        background: url('../img/icon/icon-calendar.svg') no-repeat center/contain;
    }
    &.icon-next-1 {
        width: 40px;
        height: 40px;
        background: url('../img/icon/icon-next-1.svg') no-repeat center/contain;
    }
    &.icon-arrow {
        width: 20px;
        height: 16px;
        background: url('../img/icon/icon-next.svg') no-repeat center/contain;
    }
    &.icon-facebook-y {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-facebook-y.svg') no-repeat center/contain;
    }
    &.icon-facebook-y {
        width: 20px;
        height: 20px;
        background: url('../img/icon/icon-facebook-y.svg') no-repeat center/contain;
    }
    &.icon-facebook-y {
        width: 16px;
        height: 16px;
        background: url('../img/icon/icon-facebook-y.svg') no-repeat center/contain;
    }
    &.icon-ins-y {
        width: 16px;
        height: 16px;
        background: url('../img/icon/icon-ins-y.svg') no-repeat center/contain;
    }
    &.icon-tw-y {
        width: 16px;
        height: 16px;
        background: url('../img/icon/icon-tw.svg') no-repeat center/contain;
    }
    &.icon-youtube-y {
        width: 16px;
        height: 16px;
        background: url('../img/icon/icon-youtube.svg') no-repeat center/contain;
    }
    &.icon-location{
        width: 24px;
        height: 24px;
        background: url('../img/icon-location.svg') no-repeat center/contain;
    }
    &.icon-mail {
        width: 24px;
        height: 24px;
        background: url('../img/icon-mail.svg') no-repeat center/contain;
    }
    &.icon-phone {
        width: 24px;
        height: 24px;
        background: url('../img/icon-phone.svg') no-repeat center/contain;
    }
    &.icon-ins-b {
        width: 26px;
        height: 26px;
        background: url('../img/icon/icon-ins-b.svg') no-repeat center/contain;
    }
    &.icon-face-b {
        width: 26px;
        height: 26px;
        background: url('../img/icon/icon-facebook-b.svg') no-repeat center/contain;
    }
    &.icon-youtube-b {
        width: 26px;
        height: 26px;
        background: url('../img/icon/icon-youtube-b.svg') no-repeat center/contain;
    }
    &.icon-finish {
        width: 75px;
        height: 75px;
        background: url('../img/icon/icon-finish.svg') no-repeat center/contain;
    }
    &.icon-question {
        width: 75px;
        height: 75px;
        background: url('../img/icon/icon-question.svg') no-repeat center/contain;
    }
    &.icon-face-s {
        width: 18px;
        height: 18px;
        background: url('../img/icon/icon-facebook-b.svg') no-repeat center/contain;
    }
    &.icon-copy-s {
        width: 26px;
        height: 26px;
        background: url('../img/icon/icon-copy.svg') no-repeat center/contain;
    }
}


