.modal-style {
    color: $black;
    font-family: 'Comfortaa', cursive;
    .btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
       width: 16px;
       height: 16px;
       background: url(../img/icon/icon-close.svg) center no-repeat;
       background-size: contain;
       cursor: pointer;
       z-index: 99;
    }
    p {
        a {
            color: $main;
        }
    }
    .btn-style {
        min-width: 360px;
    }
    .outer-btn {
        display: flex;
        justify-content: center;
        button {
            width: 40%;
            min-width: 0;
            margin: 0 10px;
        }
    }
    .title-modal {
        font-weight: 900;
        font-size: 18px;
        text-transform: uppercase;
        font-family: "Mulish", sans-serif;
    }
}