.main-nav {
    
    background: $black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1021;
    transition: all 0.25s ease-in-out 0s;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;

        .btn-menu {
            position: relative;
            width: 30px;
            height: 23px;
            display: none;

            &::before {
                height: 2px;
                width: 30px;
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                background: $white;
                transition: all 0.25s ease-in-out 0s;
            }

            &::after {
                border-top: 2px solid $white;
                border-bottom: 2px solid $white;
                height: 12px;
                width: 30px;
                content: "";
                position: absolute;
                left: 0;
                top: 0;


            }
        }

        .main-menu {
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;

            >ul {
                display: flex;
                padding: 0;
                list-style: none;
                margin: 0;

                >li {
                    padding: 0 15px;

                    >a {
                        color: $white;
                        text-decoration: none;
                    }

                    &.lang {
                        display: none;
                    }
                    &.active {
                        > a {
                            color: $main;
                        }
                    }
                }
            }

            @include xl() {
                display: none;
            }

            @include min-xl() {
                >ul {
                    >li {
                        >a {
                            height: 80px;
                            display: inline-block;
                            line-height: 80px;

                            &:hover {
                                color: $main;
                            }
                        }

                        &.dropdown {
                            .dropdown-menu {
                                margin-top: -2px !important;
                                padding: 0;
                                border-radius: 0;
                                border: 0;
                                background: $black;
                                display: block;
                                opacity: 0;
                                visibility: hidden;
                                transition: .2s;
                                top: 120%;

                                li {
                                    a {
                                        padding: 10px 20px;
                                        min-width: 200px;
                                        color: $white;
                                        border-top: 1px solid $blackgray;

                                        &:hover {
                                            color: $main;
                                            background: $blackgray;
                                        }
                                    }

                                    &:first-child {
                                        a {
                                            border-top: 0;
                                        }
                                    }
                                }
                            }

                            &:hover {
                                .dropdown-menu {
                                    opacity: 1;
                                    visibility: visible;
                                    top: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .right-menu {
            display: flex;
            align-items: center;

            .choose-lang {
                border: none;
                box-shadow: none;
                color: $white;
                background: transparent;
                outline: none;
                padding: 5px 0;

                option {
                    background: $white;
                    color: $black;
                }
            }

            .btn-search {
                padding-left: 10px;
            }

            @include xl() {
                .choose-lang {
                    display: none;
                }
            }
        }

        @include xl() {
            height: 60px;

            .logo {
                img {
                    height: 40px;
                }
            }

            .btn-menu {
                display: inline-block;
                margin-left: 25px;
            }

            .main-menu {
                display: block;
                left: 100%;
                position: absolute;
                top: 60px;
                width: 100vw;
                height: calc(100vh - 60px);
                transition: all 0.25s ease-in-out 0s;

                >ul {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: $black;
                    border-top: 1px solid $blackgray;

                    >li {
                        padding: 0;

                        >a {
                            padding: 15px 25px;
                            display: flex;
                            justify-content: space-between;
                            border-top: 1px solid $blackgray;
                            align-items: center;
                        }

                        &:first-child {
                            a {
                                border-top: 0;
                            }
                        }

                        &.dropdown {
                            .dropdown-menu {
                                position: static !important;
                                transform: translate3d(0, 0, 0) !important;
                                border: 0;
                                border-radius: 0;
                                padding: 0;

                                li {
                                    a {
                                        background: $black;
                                        color: $white;
                                        padding: 15px 40px;
                                        font-size: 14px;
                                        border-top: 1px solid $blackgray;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.nav-style {
        @include min-xl(){
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

}

.open-menu {
    @include xl() {
        .main-nav {
            .container {
                .btn-menu {
                    &::before {
                        width: 20px;
                    }
                }

                .main-menu {
                    display: block;
                    left: 0;
                    height: calc(100vh - 60px);
                    width: 100vw;

                }
            }
        }
    }

}

.nav-pills .nav-link {
    display: flex;
    align-items: center;
    padding: 2px 10px;
}