.swiper-top {
  overflow: hidden;
  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      height: 20%;
      width: 100%;
      left: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60%);
    }
  }
  .swiper-button-next {
    color: $white;
    right: 25px;
    transition: all 0.25s ease-in-out 0s;
    &:hover {
      color: $main;
    }
  } 
  .swiper-button-prev {
    color: $white;
    left: 25px;
    transition: all 0.25s ease-in-out 0s;
    &:hover {
      color: $main;
    }
  }
  .swiper-pagination {
    text-align: right;
    bottom: 3%;
    padding: 0 5%;
    .swiper-pagination-bullet {
      background: $white;
      opacity: 1;
      transition: all 0.25s ease-in-out 0s;
    }
    .swiper-pagination-bullet-active {
      background: $main;
      width: 30px;
      border-radius: 4px;
    }
  }
}
.outer-slide {
  background: url(../img/bg-dot.png) left top no-repeat;
  padding-top: 30px;
  @include xl(){
    margin-bottom: 30px;
  }
}
.inner-slide {
  position: relative;
  margin-left: 35px;
  margin-right: 55px;
  @include sm(){
    margin-left: 30px;
    margin-right: 10px;
  }
  // &:after {
  //   position: absolute;
  //   width: 100%;
  //   height: 95%;
  //   border: 3px solid $main;
  //   content: "";
  //   right: 23px;
  //   top: 20px;
  //   z-index: 0;
  //   transform: scale(0.97);
  // }
  .swiper-style {
    padding-right: 25px;
    z-index: 9;  
    .swiper-pagination {
      width: auto;
      height: 100%;
      top: 0;
      left: auto;
      right: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 999;
      .swiper-pagination-bullet {
        background: $white;
        opacity: 1;
        margin: 3px 0;
      }
      .swiper-pagination-bullet-active {
        background: $main;
      }
    }
    .swiper-slide {
      width: 100%;
      height: 0;
      padding-bottom: 64%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &.circle {
    &:after {
      border-radius: 50%;
      top: -25px;
    }
  }
}

.swiper-work {
  .swiper-slide {
    opacity: 1;
  }
}

.swiper-cm {
  padding-bottom: 50px;
  .swiper-slide {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
    }
    
  }
  .swiper-pagination {
    bottom: -5px;
    .swiper-pagination-bullet {
      background: $white;
      opacity: 1;
      transition: all 0.25s ease-in-out 0s;
      &.swiper-pagination-bullet-active {
        background: $main;
        width: 30px;
        border-radius: 8px;
      }
    }
  }
}

.swiper-brand {
  padding: 30px ;
  .swiper-slide {
    width: auto!important;
    img {
      display: block;
      margin-right: 20px;
      height: 24px;
    }
  }
}

.mySwiper-brand {
  font-size: 16px;
  
  .swiper-slide {
    
    a {
      display: block;
      text-align: center;
      background: #FFFFFF;
      text-decoration: none;
      position: relative;
      img {
        display: block;
      }
      span {
      display: block;
      padding: 10px;
      background:$black;
      color:$white;
      font-family: "Fira Sans Extra Condensed", sans-serif;
      }
      &:hover {
        box-shadow: 0px 2px 10px #DEDEDE;
        span {
          opacity: 1;
          visibility: visible;
        }
      }
      
    }
   
    img {
      display: block;
    }
    
  }
}

.mySwiper-brand-1 {
  font-size: 16px;
  
  .swiper-slide {
    
    a {
      display: block;
      text-align: center;
      background: #FFFFFF;
      text-decoration: none;
      position: relative;
      img {
        display: block;
      }
      span {
      display: block;
      padding: 10px;
      background:$black;
      color:$white;
      font-family: "Fira Sans Extra Condensed", sans-serif;
      }
      &:hover {
        box-shadow: 0px 2px 10px #DEDEDE;
        span {
          opacity: 1;
          visibility: visible;
        }
      }
      
    }
   
    img {
      display: block;
    }
    
  }
}

.outer-slides{
  position: relative;
  margin-bottom: 20px;
  .swiper-button-prev {
    left: -60px;
  }
  .swiper-button-next {
    right: -60px;
  }
   .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 24px;
    color: $white;
}
}

.swiper-outer {
  position: relative;
  .swiper-button-prev {
    left: -70px;
    color: $white;
    &:after {
      font-size: 30px;
    }
  }
  .swiper-button-next {
    right: -70px;
    color: $white;
    &:after {
      font-size: 30px;
    }
  }
}

.swiper-brands  {
  
  .swiper-slide {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      border-radius: 10px;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.block-slider {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border-bottom: 3px solid $white;
  h3 {
    font-size: 20px;
    color: $white;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    width: 100%;
    margin: 20px 0 30px 0;
  }
  .mySwiper2 {
    padding-bottom: 40px;
    width: 70%;
    .swiper-button-next:after, .swiper-button-prev:after {
      color: $white;
      font-size: 28px;
    }
    .swiper-pagination{
      text-align: left;
      bottom: 0;
      .swiper-pagination-bullet {
        background: $white;
        opacity: 1;
        transition: all 0.25s ease-in-out 0s;
      }
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: $main;
        width: 30px;
        border-radius: 8px;
      }
    }
  }
  .mySwiper1  {
    width: 30%;
    height: 510px;
    padding-left: 15px;
    .swiper-slide{
      overflow: hidden;
      cursor: pointer;
      opacity: 0.6;
      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }
}