

img {
  max-width: 100%;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.thumb-16x9 {
    padding-bottom: 56.25%;
  }
  &.thumb-4x3 {
    padding-bottom: 75%;
  }
  &.thumb-3x2 {
    padding-bottom: 66.66%;
  }
  &.thumb-1x1 {
    padding-bottom: 100%;
  }
  &.thumb-5x2 {
    padding-bottom: 40%;
  }
  &.thumb-3x1 {
    padding-bottom: 33.3333%;
  }
  &.thumb-2x3 {
    padding-bottom: 150%;
  }
  
}

div.borber-b {
  padding-bottom: 25px;
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 3px;
    background: $main;
    content: "";
  }
}

.border-style {
  border-top: 1px dashed $white;
  width: 100%;
  height: 1px;
  display: block;
 
}

.title-style {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: $white;
  text-transform: uppercase;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  i {
    margin-right: 10px;
  }
  &.center {
    justify-content: center;
  }
}

.title-main {
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: $white;
  margin-bottom: 60px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  span {
    font-size: 16px;
    font-weight: 400;
    color: $main;
    display: block;
  }
  i {
    display: block;
    padding-left: 45px;
    position: relative;
    font-style: normal;
    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -2px;
      width: 30px;
      height: 4px;
      border-radius: 2px;
      content: "";
      background: $main;
    }
  }
  &.center {
    text-align: center;
  }
  &.border-b {
    padding-bottom: 10px;
    &:after {
      position: absolute;
      left: 50%;
      bottom: 0;
      content: "";
      width: 62px;
      height: 3px;
      border-radius: 1px;
      background: $main;
      margin-left: -31px;
    }
  }
  &.bordertop {
    position: relative;
    padding-top: 8px;
    &:after {
      position: absolute;
      content: "";
      width: 30px;
      height: 3px;
      background: $main;
      left: 0;
      top: 0;
      border-radius: 2px;
    }
  }
}

.scroll-heading {
  font-size: 18px;
  font-weight: 900;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  padding-top: 30px;
}

.title-news {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 30px;
  &.center {
    text-align: center;
  }
}

.title-case {
  text-align: center;
  margin-bottom: 45px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  img {
    height: 30px;
  }
  span {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    display: block;
    margin-top: 16px;
  }
}

.bg-white {
  .title-main {
    color: $black;
  }
}
.bg-black {
  .title-main {
    color: $white;
  }
}

.container-style {
  @include min-lg(){
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}

.title-life {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  > span {
    padding: 10px 20px;
    background: $main;
    color: $black;
    font-size: 16px;
   font-weight: normal;
    strong {
      display: block;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .btn-more {
    color: $black;
    text-decoration: none;
    &::before {
      width: 60px;
      height: 2px;
      background: $black;
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
    }
  }
  .btn-mores {
    color: $black;
    text-decoration: none;
    &::before {
      width: 60px;
      height: 2px;
      background: $black;
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      @include sm(){
        display: none;
      }
    }
  }
}

.btn-style {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  background: $main;
  border-radius: 4px;
  line-height: 50px;
  color: $blackgray;
  text-decoration: none;
  font-size: 18px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none;
  &:hover {
    color: $main;
    background: $blackgray;
  }
}

.btn-gray {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  background: $gray;
  border-radius: 4px;
  line-height: 50px;
  color: $blackgray;
  text-decoration: none;
  font-size: 18px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none;
  &:hover {
    color: $main;
    background: $blackgray;
  }
}

.border-line {
  width: 100%;
  display: block;
  height: 1px;
  background: $gray;
}

.row-style {
  @include min-lg {
    margin-left: -23px;
    margin-right: -23px;
    .col-lg-4 {
      padding-left: 23px;
      padding-right: 23px;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.fw-bold,strong, b {
  font-weight: 600!important;
}

.breadcrumb-item+.breadcrumb-item::before {
  background: url(../img/icon/icon-breadcum.svg) center no-repeat;
  width: 20px;
  height: 20px;
  content: "";
  padding: 0;
  display: inline-block;
  margin-top: 3px;
  margin-right: 8px;
}

.btn-xemthem {
  display: block;
  position: relative;
  padding: 10px 20px;
  background: $black;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  img {
    display: block;
    max-width: 190px;
    
    position: absolute;
    left: 0;
    top: 100%;
    padding: 10px 20px;
    background: $black;
  }
  &:hover {
    color: $main;
  }
}