/*font face*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap");
@font-face {
  font-family: "Mulish";
  src: url("../../assets/fonts/subset-Mulish-Black.eot");
  src: url("../../assets/fonts/subset-Mulish-Black.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/subset-Mulish-Black.woff2") format("woff2"), url("../../assets/fonts/subset-Mulish-Black.woff") format("woff"), url("../../assets/fonts/subset-Mulish-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../assets/fonts/subset-Mulish-Bold.eot");
  src: url("../../assets/fonts/subset-Mulish-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/subset-Mulish-Bold.woff2") format("woff2"), url("../../assets/fonts/subset-Mulish-Bold.woff") format("woff"), url("../../assets/fonts/subset-Mulish-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../assets/fonts/subset-Mulish-Medium.eot");
  src: url("../../assets/fonts/subset-Mulish-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/subset-Mulish-Medium.woff2") format("woff2"), url("../../assets/fonts/subset-Mulish-Medium.woff") format("woff"), url("../../assets/fonts/subset-Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../assets/fonts/subset-Mulish-Regular.eot");
  src: url("../../assets/fonts/subset-Mulish-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/subset-Mulish-Regular.woff2") format("woff2"), url("../../assets/fonts/subset-Mulish-Regular.woff") format("woff"), url("../../assets/fonts/subset-Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  background: #000;
  color: #fff;
}
body.bg-white {
  background: #fff;
  color: #000;
}
body.bg-white .outer-parallax:after {
  display: none;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  aspect-ratio: attr(width)/attr(height) !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.text-left {
  text-align: left;
}

.mr-0.swiper-filter {
  margin-right: 0 !important;
}

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

a {
  transition: all 0.25s ease-in-out 0s;
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000000;
}

.line-dashed {
  height: 1px;
  width: 141px;
  border-bottom: 1px dashed #fff;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.floating-arrow {
  -webkit-animation-name: floating-arrow;
  animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-arrow {
  from {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes floating-arrow {
  from {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  to {
    transform: translate(-50%, 0);
  }
}
.animated-bgd {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.icon-search {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon-search.svg") no-repeat center/contain;
}
.icon.icon-down {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-down.svg") no-repeat center/contain;
}
.icon.icon-pink {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-pink.svg") no-repeat center/contain;
}
.icon.icon-blue {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-blue.svg") no-repeat center/contain;
}
.icon.icon-orange {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-orange.svg") no-repeat center/contain;
}
.icon.icon-stella {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-stella.svg") no-repeat center/contain;
}
.icon.icon-yellow {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-yellow.svg") no-repeat center/contain;
}
.icon.icon-red {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-red.svg") no-repeat center/contain;
}
.icon.icon-thanhtuu {
  width: 36px;
  height: 36px;
  background: url("../img/icon/icon-thanhtuu.svg") no-repeat center/contain;
}
.icon.icon-right {
  width: 16px;
  height: 16px;
  background: url("../img/icon/icon-more.svg") no-repeat center/contain;
}
.icon.icon-ins {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-ins.svg") no-repeat center/contain;
}
.icon.icon-facebook {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-facebook.svg") no-repeat center/contain;
}
.icon.icon-plus {
  width: 26px;
  height: 30px;
  background: url("../img/icon/icon-plus.png") no-repeat center/contain;
}
.icon.icon-download {
  width: 34px;
  height: 34px;
  background: url("../img/icon/icon-download.svg") no-repeat center/contain;
}
.icon.icon-sumenh {
  width: 34px;
  height: 34px;
  background: url("../img/icon/icon-sumenh.svg") no-repeat center/contain;
}
.icon.icon-kindness {
  width: 36px;
  height: 36px;
  background: url("../img/icon/icon-kindness.svg") no-repeat center/contain;
}
.icon.icon-fresness {
  width: 36px;
  height: 36px;
  background: url("../img/icon/icon-fresness.svg") no-repeat center/contain;
}
.icon.icon-transparency {
  width: 36px;
  height: 36px;
  background: url("../img/icon/icon-transparent.svg") no-repeat center/contain;
}
.icon.icon-commitment {
  width: 36px;
  height: 36px;
  background: url("../img/icon/icon-commitment.svg") no-repeat center/contain;
}
.icon.icon-diversity {
  width: 36px;
  height: 36px;
  background: url("../img/icon/icon-diversity.svg") no-repeat center/contain;
}
.icon.icon-daring {
  width: 36px;
  height: 36px;
  background: url("../img/icon/icon-daring.svg") no-repeat center/contain;
}
.icon.icon-quote-left {
  width: 38px;
  height: 25px;
  background: url("../img/icon/icon-quote-left.svg") no-repeat center/contain;
}
.icon.icon-quote-right {
  width: 38px;
  height: 25px;
  background: url("../img/icon/icon-quote-right.svg") no-repeat center/contain;
}
.icon.icon-star {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon-star.svg") no-repeat center/contain;
}
.icon.icon-star-disable {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon-star-disable.svg") no-repeat center/contain;
}
.icon.icon-download-b {
  width: 34px;
  height: 34px;
  background: url("../img/icon/icon-down-b.svg") no-repeat center/contain;
}
.icon.icon-check {
  width: 34px;
  height: 34px;
  background: url("../img/icon/icon-check-circle.svg") no-repeat center/contain;
}
.icon.icon-user-plus {
  width: 30px;
  height: 30px;
  background: url("../img/icon/icon-user-plus.svg") no-repeat center/contain;
}
.icon.icon-date {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon-calendar.svg") no-repeat center/contain;
}
.icon.icon-next-1 {
  width: 40px;
  height: 40px;
  background: url("../img/icon/icon-next-1.svg") no-repeat center/contain;
}
.icon.icon-arrow {
  width: 20px;
  height: 16px;
  background: url("../img/icon/icon-next.svg") no-repeat center/contain;
}
.icon.icon-facebook-y {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-facebook-y.svg") no-repeat center/contain;
}
.icon.icon-facebook-y {
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-facebook-y.svg") no-repeat center/contain;
}
.icon.icon-facebook-y {
  width: 16px;
  height: 16px;
  background: url("../img/icon/icon-facebook-y.svg") no-repeat center/contain;
}
.icon.icon-ins-y {
  width: 16px;
  height: 16px;
  background: url("../img/icon/icon-ins-y.svg") no-repeat center/contain;
}
.icon.icon-tw-y {
  width: 16px;
  height: 16px;
  background: url("../img/icon/icon-tw.svg") no-repeat center/contain;
}
.icon.icon-youtube-y {
  width: 16px;
  height: 16px;
  background: url("../img/icon/icon-youtube.svg") no-repeat center/contain;
}
.icon.icon-location {
  width: 24px;
  height: 24px;
  background: url("../img/icon-location.svg") no-repeat center/contain;
}
.icon.icon-mail {
  width: 24px;
  height: 24px;
  background: url("../img/icon-mail.svg") no-repeat center/contain;
}
.icon.icon-phone {
  width: 24px;
  height: 24px;
  background: url("../img/icon-phone.svg") no-repeat center/contain;
}
.icon.icon-ins-b {
  width: 26px;
  height: 26px;
  background: url("../img/icon/icon-ins-b.svg") no-repeat center/contain;
}
.icon.icon-face-b {
  width: 26px;
  height: 26px;
  background: url("../img/icon/icon-facebook-b.svg") no-repeat center/contain;
}
.icon.icon-youtube-b {
  width: 26px;
  height: 26px;
  background: url("../img/icon/icon-youtube-b.svg") no-repeat center/contain;
}
.icon.icon-finish {
  width: 75px;
  height: 75px;
  background: url("../img/icon/icon-finish.svg") no-repeat center/contain;
}
.icon.icon-question {
  width: 75px;
  height: 75px;
  background: url("../img/icon/icon-question.svg") no-repeat center/contain;
}
.icon.icon-face-s {
  width: 18px;
  height: 18px;
  background: url("../img/icon/icon-facebook-b.svg") no-repeat center/contain;
}
.icon.icon-copy-s {
  width: 26px;
  height: 26px;
  background: url("../img/icon/icon-copy.svg") no-repeat center/contain;
}

.btn-more {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  padding: 5px 60px;
  border: 1px solid #000000;
}
.btn-more:hover {
  color: #fff;
  background: #FFD400;
  border-color: #FFD400;
}
.btn-more.white {
  border-color: #fff;
  color: #fff;
}
.btn-more:hover {
  color: #fff;
  background: #FFD400;
  border-color: #FFD400;
}

img {
  max-width: 100%;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.thumb img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thumb.thumb-16x9 {
  padding-bottom: 56.25%;
}
.thumb.thumb-4x3 {
  padding-bottom: 75%;
}
.thumb.thumb-3x2 {
  padding-bottom: 66.66%;
}
.thumb.thumb-1x1 {
  padding-bottom: 100%;
}
.thumb.thumb-5x2 {
  padding-bottom: 40%;
}
.thumb.thumb-3x1 {
  padding-bottom: 33.3333%;
}
.thumb.thumb-2x3 {
  padding-bottom: 150%;
}

div.borber-b {
  padding-bottom: 25px;
  position: relative;
}
div.borber-b:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background: #FFD400;
  content: "";
}

.border-style {
  border-top: 1px dashed #fff;
  width: 100%;
  height: 1px;
  display: block;
}

.title-style {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.title-style i {
  margin-right: 10px;
}
.title-style.center {
  justify-content: center;
}

.title-main {
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 60px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.title-main span {
  font-size: 16px;
  font-weight: 400;
  color: #FFD400;
  display: block;
}
.title-main i {
  display: block;
  padding-left: 45px;
  position: relative;
  font-style: normal;
}
.title-main i::before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  content: "";
  background: #FFD400;
}
.title-main.center {
  text-align: center;
}
.title-main.border-b {
  padding-bottom: 10px;
}
.title-main.border-b:after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  width: 62px;
  height: 3px;
  border-radius: 1px;
  background: #FFD400;
  margin-left: -31px;
}
.title-main.bordertop {
  position: relative;
  padding-top: 8px;
}
.title-main.bordertop:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: #FFD400;
  left: 0;
  top: 0;
  border-radius: 2px;
}

.scroll-heading {
  font-size: 18px;
  font-weight: 900;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  padding-top: 30px;
}

.title-news {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 30px;
}
.title-news.center {
  text-align: center;
}

.title-case {
  text-align: center;
  margin-bottom: 45px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.title-case img {
  height: 30px;
}
.title-case span {
  font-size: 30px;
  font-weight: 900;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  display: block;
  margin-top: 16px;
}

.bg-white .title-main {
  color: #000000;
}

.bg-black .title-main {
  color: #fff;
}

@media screen and (min-width: 991px) {
  .container-style {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}

.title-life {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.title-life > span {
  padding: 10px 20px;
  background: #FFD400;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
}
.title-life > span strong {
  display: block;
  font-size: 24px;
  font-weight: bold;
}
.title-life .btn-more {
  color: #000000;
  text-decoration: none;
}
.title-life .btn-more::before {
  width: 60px;
  height: 2px;
  background: #000000;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
.title-life .btn-mores {
  color: #000000;
  text-decoration: none;
}
.title-life .btn-mores::before {
  width: 60px;
  height: 2px;
  background: #000000;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
@media screen and (max-width: 540px) {
  .title-life .btn-mores::before {
    display: none;
  }
}

.btn-style {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  background: #FFD400;
  border-radius: 4px;
  line-height: 50px;
  color: #262626;
  text-decoration: none;
  font-size: 18px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none;
}
.btn-style:hover {
  color: #FFD400;
  background: #262626;
}

.btn-gray {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  background: #EDEDED;
  border-radius: 4px;
  line-height: 50px;
  color: #262626;
  text-decoration: none;
  font-size: 18px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none;
}
.btn-gray:hover {
  color: #FFD400;
  background: #262626;
}

.border-line {
  width: 100%;
  display: block;
  height: 1px;
  background: #EDEDED;
}

@media screen and (min-width: 991px) {
  .row-style {
    margin-left: -23px;
    margin-right: -23px;
  }
  .row-style .col-lg-4 {
    padding-left: 23px;
    padding-right: 23px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fw-bold, strong, b {
  font-weight: 600 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  background: url(../img/icon/icon-breadcum.svg) center no-repeat;
  width: 20px;
  height: 20px;
  content: "";
  padding: 0;
  display: inline-block;
  margin-top: 3px;
  margin-right: 8px;
}

.btn-xemthem {
  display: block;
  position: relative;
  padding: 10px 20px;
  background: #000000;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-xemthem img {
  display: block;
  max-width: 190px;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 10px 20px;
  background: #000000;
}
.btn-xemthem:hover {
  color: #FFD400;
}

.header {
  position: relative;
}
.header .btn-scroll {
  position: absolute;
  left: 50%;
  bottom: 5%;
  width: 30px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #fff;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-nav {
  background: #000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1021;
  transition: all 0.25s ease-in-out 0s;
}
.main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.main-nav .container .btn-menu {
  position: relative;
  width: 30px;
  height: 23px;
  display: none;
}
.main-nav .container .btn-menu::before {
  height: 2px;
  width: 30px;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  transition: all 0.25s ease-in-out 0s;
}
.main-nav .container .btn-menu::after {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: 12px;
  width: 30px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.main-nav .container .main-menu {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.main-nav .container .main-menu > ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}
.main-nav .container .main-menu > ul > li {
  padding: 0 15px;
}
.main-nav .container .main-menu > ul > li > a {
  color: #fff;
  text-decoration: none;
}
.main-nav .container .main-menu > ul > li.lang {
  display: none;
}
.main-nav .container .main-menu > ul > li.active > a {
  color: #FFD400;
}
@media screen and (max-width: 1200px) {
  .main-nav .container .main-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav .container .main-menu > ul > li > a {
    height: 80px;
    display: inline-block;
    line-height: 80px;
  }
  .main-nav .container .main-menu > ul > li > a:hover {
    color: #FFD400;
  }
  .main-nav .container .main-menu > ul > li.dropdown .dropdown-menu {
    margin-top: -2px !important;
    padding: 0;
    border-radius: 0;
    border: 0;
    background: #000000;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    top: 120%;
  }
  .main-nav .container .main-menu > ul > li.dropdown .dropdown-menu li a {
    padding: 10px 20px;
    min-width: 200px;
    color: #fff;
    border-top: 1px solid #262626;
  }
  .main-nav .container .main-menu > ul > li.dropdown .dropdown-menu li a:hover {
    color: #FFD400;
    background: #262626;
  }
  .main-nav .container .main-menu > ul > li.dropdown .dropdown-menu li:first-child a {
    border-top: 0;
  }
  .main-nav .container .main-menu > ul > li.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}
.main-nav .container .right-menu {
  display: flex;
  align-items: center;
}
.main-nav .container .right-menu .choose-lang {
  border: none;
  box-shadow: none;
  color: #fff;
  background: transparent;
  outline: none;
  padding: 5px 0;
}
.main-nav .container .right-menu .choose-lang option {
  background: #fff;
  color: #000000;
}
.main-nav .container .right-menu .btn-search {
  padding-left: 10px;
}
@media screen and (max-width: 1200px) {
  .main-nav .container .right-menu .choose-lang {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .main-nav .container {
    height: 60px;
  }
  .main-nav .container .logo img {
    height: 40px;
  }
  .main-nav .container .btn-menu {
    display: inline-block;
    margin-left: 25px;
  }
  .main-nav .container .main-menu {
    display: block;
    left: 100%;
    position: absolute;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    transition: all 0.25s ease-in-out 0s;
  }
  .main-nav .container .main-menu > ul {
    display: block;
    width: 100%;
    height: 100%;
    background: #000000;
    border-top: 1px solid #262626;
  }
  .main-nav .container .main-menu > ul > li {
    padding: 0;
  }
  .main-nav .container .main-menu > ul > li > a {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #262626;
    align-items: center;
  }
  .main-nav .container .main-menu > ul > li:first-child a {
    border-top: 0;
  }
  .main-nav .container .main-menu > ul > li.dropdown .dropdown-menu {
    position: static !important;
    transform: translate3d(0, 0, 0) !important;
    border: 0;
    border-radius: 0;
    padding: 0;
  }
  .main-nav .container .main-menu > ul > li.dropdown .dropdown-menu li a {
    background: #000000;
    color: #fff;
    padding: 15px 40px;
    font-size: 14px;
    border-top: 1px solid #262626;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav.nav-style {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }
}

@media screen and (max-width: 1200px) {
  .open-menu .main-nav .container .btn-menu::before {
    width: 20px;
  }
  .open-menu .main-nav .container .main-menu {
    display: block;
    left: 0;
    height: calc(100vh - 60px);
    width: 100vw;
  }
}

.nav-pills .nav-link {
  display: flex;
  align-items: center;
  padding: 2px 10px;
}

.footer {
  padding: 100px 0 0 0;
  background: #000000;
  font-family: "Comfortaa", cursive;
}
.footer .top-footer {
  display: flex;
  justify-content: space-between;
}
.footer .top-footer .first {
  width: 40%;
  padding-right: 30px;
}
.footer .top-footer .first p {
  margin: 20px 0 30px 0;
  color: #fff;
}
.footer .top-footer .second {
  width: 15%;
}
.footer .top-footer .second strong {
  color: #fff;
  font-size: 20px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  display: block;
  margin-bottom: 30px;
}
.footer .top-footer .second a {
  display: block;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
}
.footer .top-footer .second a:hover {
  color: #FFD400;
}
.footer .top-footer .third {
  width: 35%;
  padding-left: 30px;
}
.footer .top-footer .third address {
  margin-bottom: 10px;
  color: #fff;
}
.footer .top-footer .third strong {
  color: #fff;
  font-size: 20px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  display: block;
  margin-bottom: 30px;
}
.footer .top-footer .third a {
  display: block;
  margin-top: 7px;
  color: #fff;
  text-decoration: none;
}
.footer .top-footer .third a:hover {
  color: #FFD400;
}
.footer .copyright {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #7E7E7E;
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 991px) {
  .footer .top-footer {
    display: block;
  }
  .footer .top-footer .first {
    width: 100%;
    padding: 0;
  }
  .footer .top-footer .second {
    width: 100%;
    margin: 50px 0;
  }
  .footer .top-footer .third {
    padding-left: 0;
  }
}
@media screen and (max-width: 540px) {
  .footer .frm-mail {
    display: none;
  }
}

.frm-mail {
  position: relative;
  display: flex;
}
.frm-mail .txt-mail {
  height: 60px;
  border: 1px solid #FFD400;
  box-shadow: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
  border-radius: 5px;
  padding-right: 180px;
  font-size: 16px;
  background: #000000;
}
.frm-mail .txt-mail::-moz-placeholder {
  color: #fff;
}
.frm-mail .txt-mail:-ms-input-placeholder {
  color: #fff;
}
.frm-mail .txt-mail::placeholder {
  color: #fff;
}
.frm-mail .btn-mail {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  padding: 0 20px;
  background: #FFD400;
  border: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
}
.frm-mail .btn-mail:hover {
  color: #FFD400;
  background: #262626;
}

.list-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}
.list-social li {
  margin-right: 20px;
  cursor: pointer;
}

.frm {
  opacity: 1;
}

.art-list {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #414142;
}
.art-list .outer-thumb {
  width: 360px;
  position: relative;
}
.art-list .outer-thumb .cate {
  position: absolute;
  text-decoration: none;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.art-list .outer-thumb .cate i {
  padding: 5px 15px;
  background: #fff;
  color: #000000;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .art-list .outer-thumb {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  .art-list .outer-thumb {
    width: 48%;
  }
}
.art-list header {
  width: 1px;
  flex-grow: 1;
  padding-left: 25px;
}
.art-list header h4 {
  font-size: 20px;
  font-weight: 900;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin-bottom: 15px;
}
.art-list header h4 a {
  color: #000000;
  text-decoration: none;
}
.art-list header p {
  color: #c4c4c4;
  font-size: 14px;
}
.art-list:first-child {
  border-top: 0;
  padding-top: 0;
}
@media screen and (max-width: 540px) {
  .art-list header p {
    display: none;
  }
}

.art-position {
  padding: 25px 0;
  border-top: 1px dashed #000000;
  display: flex;
  width: 100%;
}
.art-position .des {
  padding-left: 25px;
  width: 1px;
  flex-grow: 1;
}
.art-position .des > strong {
  display: block;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 18px;
  margin-bottom: 13px;
}
.art-position .des p {
  margin-bottom: 0;
}
.art-position .link-more {
  margin-left: auto;
}
.art-position:first-child {
  padding-top: 0;
  border-top: 0;
}

.art-event {
  padding: 30px;
  border: 1px solid transparent;
  margin-bottom: 20px;
}
.art-event .title {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.art-event .title i {
  margin-right: 8px;
}
.art-event p {
  color: #fff;
  font-weight: 300;
}
.art-event .btn-more {
  color: #FFD400;
  padding: 0;
  border-bottom: 1px solid #FFD400;
}
.art-event .btn-more:hover {
  background: transparent;
  color: #FFD400;
  border-color: transparent;
  border-bottom: 1px solid #FFD400;
}
.art-event:hover {
  border-color: #FFD400;
}

.art-work {
  position: relative;
}
.art-work header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  z-index: 2;
}
.art-work header .sub {
  font-size: 14px;
  color: #FFD400;
  text-transform: uppercase;
}
.art-work header .title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin: 15px 0;
}
.art-work header .btn-casestudy {
  height: 36px;
  line-height: 34px;
  padding: 0 15px 0 20px;
  color: #fff;
  border: 1px solid #FFD400;
  display: inline-block;
  text-decoration: none;
}
.art-work header .btn-casestudy:hover {
  background-color: #FFD400;
}
.art-work:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 33%;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
}

.art-new {
  background: #262626;
}
.art-new header {
  padding: 25px;
}
.art-new header .title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
  line-height: 1.3;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.art-new header .title a {
  color: #fff;
  text-decoration: none;
}
.art-new header .title a:hover {
  color: #FFD400;
}
.art-new header .link {
  color: #FFD400;
}
@media screen and (max-width: 991px) {
  .art-new {
    margin-bottom: 30px;
  }
}

.art-news {
  margin-bottom: 30px;
}
.art-news header {
  text-align: center;
  position: relative;
  padding-top: 20px;
}
.art-news header h2 {
  font-size: 22px;
  font-weight: 900;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  text-align: left;
}
.art-news header h2 a {
  color: #000000;
  text-decoration: none;
}
.art-news header h2 a:hover {
  color: #FFD400;
}
.art-news header .cate {
  text-decoration: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
}
.art-news header .cate i {
  padding: 5px 15px;
  background: #fff;
  color: #000000;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}

.art-news-s header {
  padding-top: 16px;
}
.art-news-s header h3 {
  font-size: 15px;
  font-weight: 900;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin-bottom: 16px;
}
.art-news-s header h3 a {
  color: #000000;
  text-decoration: none;
}
.art-news-s header h3 a:hover {
  color: #FFD400;
}
.art-news-s header .cate {
  color: #7E7E7E;
  text-decoration: none;
  font-size: 14px;
}
.art-news-s header .cate:hover {
  color: #FFD400;
}

.art-proundworks {
  cursor: pointer;
  margin-bottom: 30px;
}
.art-proundworks a {
  text-decoration: none;
}
.art-proundworks header {
  text-align: center;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}
.art-proundworks header .cate {
  font-size: 14px;
  font-weight: 400;
  color: #FFD400;
  display: block;
  padding-bottom: 10px;
}
.art-proundworks header h3 {
  height: 45px;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 60px;
  margin: 0;
  overflow: hidden;
}
.art-proundworks.no-border header {
  border-bottom: 0;
}

.modal-style {
  color: #000000;
  font-family: "Comfortaa", cursive;
}
.modal-style .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  background: url(../img/icon/icon-close.svg) center no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 99;
}
.modal-style p a {
  color: #FFD400;
}
.modal-style .btn-style {
  min-width: 360px;
}
.modal-style .outer-btn {
  display: flex;
  justify-content: center;
}
.modal-style .outer-btn button {
  width: 40%;
  min-width: 0;
  margin: 0 10px;
}
.modal-style .title-modal {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
}

.swiper-top {
  overflow: hidden;
}
.swiper-top .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-top .swiper-slide:after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 20%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60%);
}
.swiper-top .swiper-button-next {
  color: #fff;
  right: 25px;
  transition: all 0.25s ease-in-out 0s;
}
.swiper-top .swiper-button-next:hover {
  color: #FFD400;
}
.swiper-top .swiper-button-prev {
  color: #fff;
  left: 25px;
  transition: all 0.25s ease-in-out 0s;
}
.swiper-top .swiper-button-prev:hover {
  color: #FFD400;
}
.swiper-top .swiper-pagination {
  text-align: right;
  bottom: 3%;
  padding: 0 5%;
}
.swiper-top .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  transition: all 0.25s ease-in-out 0s;
}
.swiper-top .swiper-pagination .swiper-pagination-bullet-active {
  background: #FFD400;
  width: 30px;
  border-radius: 4px;
}

.outer-slide {
  background: url(../img/bg-dot.png) left top no-repeat;
  padding-top: 30px;
}
@media screen and (max-width: 1200px) {
  .outer-slide {
    margin-bottom: 30px;
  }
}

.inner-slide {
  position: relative;
  margin-left: 35px;
  margin-right: 55px;
}
@media screen and (max-width: 540px) {
  .inner-slide {
    margin-left: 30px;
    margin-right: 10px;
  }
}
.inner-slide .swiper-style {
  padding-right: 25px;
  z-index: 9;
}
.inner-slide .swiper-style .swiper-pagination {
  width: auto;
  height: 100%;
  top: 0;
  left: auto;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}
.inner-slide .swiper-style .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  margin: 3px 0;
}
.inner-slide .swiper-style .swiper-pagination .swiper-pagination-bullet-active {
  background: #FFD400;
}
.inner-slide .swiper-style .swiper-slide {
  width: 100%;
  height: 0;
  padding-bottom: 64%;
  position: relative;
}
.inner-slide .swiper-style .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.inner-slide.circle:after {
  border-radius: 50%;
  top: -25px;
}

.swiper-work .swiper-slide {
  opacity: 1;
}

.swiper-cm {
  padding-bottom: 50px;
}
.swiper-cm .swiper-slide {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.swiper-cm .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.swiper-cm .swiper-pagination {
  bottom: -5px;
}
.swiper-cm .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  transition: all 0.25s ease-in-out 0s;
}
.swiper-cm .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FFD400;
  width: 30px;
  border-radius: 8px;
}

.swiper-brand {
  padding: 30px;
}
.swiper-brand .swiper-slide {
  width: auto !important;
}
.swiper-brand .swiper-slide img {
  display: block;
  margin-right: 20px;
  height: 24px;
}

.mySwiper-brand {
  font-size: 16px;
}
.mySwiper-brand .swiper-slide a {
  display: block;
  text-align: center;
  background: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.mySwiper-brand .swiper-slide a img {
  display: block;
}
.mySwiper-brand .swiper-slide a span {
  display: block;
  padding: 10px;
  background: #000000;
  color: #fff;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.mySwiper-brand .swiper-slide a:hover {
  box-shadow: 0px 2px 10px #DEDEDE;
}
.mySwiper-brand .swiper-slide a:hover span {
  opacity: 1;
  visibility: visible;
}
.mySwiper-brand .swiper-slide img {
  display: block;
}

.mySwiper-brand-1 {
  font-size: 16px;
}
.mySwiper-brand-1 .swiper-slide a {
  display: block;
  text-align: center;
  background: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.mySwiper-brand-1 .swiper-slide a img {
  display: block;
}
.mySwiper-brand-1 .swiper-slide a span {
  display: block;
  padding: 10px;
  background: #000000;
  color: #fff;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.mySwiper-brand-1 .swiper-slide a:hover {
  box-shadow: 0px 2px 10px #DEDEDE;
}
.mySwiper-brand-1 .swiper-slide a:hover span {
  opacity: 1;
  visibility: visible;
}
.mySwiper-brand-1 .swiper-slide img {
  display: block;
}

.outer-slides {
  position: relative;
  margin-bottom: 20px;
}
.outer-slides .swiper-button-prev {
  left: -60px;
}
.outer-slides .swiper-button-next {
  right: -60px;
}
.outer-slides .swiper-button-prev::after, .outer-slides .swiper-button-next::after {
  font-size: 24px;
  color: #fff;
}

.swiper-outer {
  position: relative;
}
.swiper-outer .swiper-button-prev {
  left: -70px;
  color: #fff;
}
.swiper-outer .swiper-button-prev:after {
  font-size: 30px;
}
.swiper-outer .swiper-button-next {
  right: -70px;
  color: #fff;
}
.swiper-outer .swiper-button-next:after {
  font-size: 30px;
}

.swiper-brands .swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
}
.swiper-brands .swiper-slide a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.block-slider {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border-bottom: 3px solid #fff;
}
.block-slider h3 {
  font-size: 20px;
  color: #fff;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  width: 100%;
  margin: 20px 0 30px 0;
}
.block-slider .mySwiper2 {
  padding-bottom: 40px;
  width: 70%;
}
.block-slider .mySwiper2 .swiper-button-next:after, .block-slider .mySwiper2 .swiper-button-prev:after {
  color: #fff;
  font-size: 28px;
}
.block-slider .mySwiper2 .swiper-pagination {
  text-align: left;
  bottom: 0;
}
.block-slider .mySwiper2 .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  transition: all 0.25s ease-in-out 0s;
}
.block-slider .mySwiper2 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FFD400;
  width: 30px;
  border-radius: 8px;
}
.block-slider .mySwiper1 {
  width: 30%;
  height: 510px;
  padding-left: 15px;
}
.block-slider .mySwiper1 .swiper-slide {
  overflow: hidden;
  cursor: pointer;
  opacity: 0.6;
}
.block-slider .mySwiper1 .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.section {
  padding: 80px 0;
  font-family: "Comfortaa", cursive;
}
.section.section-contact {
  padding: 30px 0;
  background: #fff url(../img/bg-contact.jpg) left top no-repeat;
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .section {
    padding: 50px 0;
    width: 100%;
    overflow: hidden;
  }
}
.section.section-life {
  background: #fff url(../img/bg-dot-1.jpg) no-repeat center/cover;
}
.section.section-subscrible {
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  background: #000000;
  color: #fff;
  padding-top: 120px;
}
.section.section-subscrible strong {
  font-size: 30px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.section.section-subscrible .frm-mail {
  max-width: 850px;
  margin: 0 auto;
}
.section.section-subscrible .frm-mail .txt-mail {
  background: #fff;
}
.section.section-subscrible .frm-mail .txt-mail::-moz-placeholder {
  color: #000000;
}
.section.section-subscrible .frm-mail .txt-mail:-ms-input-placeholder {
  color: #000000;
}
.section.section-subscrible .frm-mail .txt-mail::placeholder {
  color: #000000;
}
.section.section-subscrible .frm-mail .btn-mail {
  font-weight: bold;
}
@media screen and (max-width: 991px) {
  .section.section-subscrible {
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 80px;
  }
}
@media screen and (max-width: 540px) {
  .section.section-subscrible {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 60px;
  }
}
.section.section-study {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.outer-thanhtuu {
  display: flex;
  justify-content: space-between;
}
.outer-thanhtuu .box-thanhtuu {
  width: 162px;
  height: 162px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.outer-thanhtuu .box-thanhtuu .icon-plus {
  position: absolute;
  right: -1px;
  top: -1px;
}
.outer-thanhtuu .box-thanhtuu .inner {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 0 10px;
}
.outer-thanhtuu .box-thanhtuu .inner > span {
  display: block;
  font-size: 13px;
  width: 100%;
  text-align: center;
}
.outer-thanhtuu .box-thanhtuu .inner > span:nth-child(3) {
  height: 39px;
}
.outer-thanhtuu .box-thanhtuu .inner strong {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  position: relative;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.outer-thanhtuu .box-thanhtuu .inner strong sub {
  position: absolute;
  font-size: 10px !important;
  right: -28px;
  bottom: 15px;
  font-family: "Mulish", sans-serif;
}
.outer-thanhtuu .box-thanhtuu .inner strong sup {
  font-size: 30px !important;
  position: absolute;
  font-size: 10px;
  right: -18px;
  top: 20px;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .outer-thanhtuu .box-thanhtuu {
    width: 132px;
    height: 132px;
  }
}
@media screen and (max-width: 540px) {
  .outer-thanhtuu {
    flex-wrap: wrap;
  }
  .outer-thanhtuu .box-thanhtuu {
    width: 100%;
    margin-bottom: 30px !important;
    height: 152px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.box-contact {
  color: #000000;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-contact p {
  margin: 0;
}
.box-contact p strong {
  font-size: 24px;
  display: block;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin-top: 5px;
}
@media screen and (max-width: 991px) {
  .box-contact {
    display: block;
    text-align: center;
  }
  .box-contact p {
    margin-bottom: 20px;
  }
}

.outer-parallax {
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.outer-parallax:after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 20%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60%);
}
.outer-parallax.outer-parallax-35 {
  padding-bottom: 35%;
  height: 0;
}
@media screen and (max-width: 991px) {
  .outer-parallax.outer-parallax-35 {
    padding-bottom: 0;
    min-height: 100vh;
  }
}
.outer-parallax.outer-parallax-contact {
  height: auto;
  min-height: 100vh;
}

.outer-2 {
  display: flex;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.outer-2 .box-txt {
  padding-left: 50px;
}
.outer-2 .box-txt:first-child {
  padding-left: 0;
  padding-right: 50px;
}
@media screen and (max-width: 540px) {
  .outer-2 {
    flex-wrap: wrap;
    margin: 0;
  }
  .outer-2 .box-txt {
    padding: 15px 0;
    width: 100%;
  }
}

.link-download {
  text-align: center;
  display: inline-flex;
  font-size: 18px;
  text-decoration: underline;
  color: #fff;
  align-items: center;
}
.link-download i {
  margin-right: 8px;
}

.bg-white .link-download {
  color: #000000;
  margin-top: 16px;
}

.wrapper-thanhtuu.center {
  text-align: center;
}
.wrapper-thanhtuu.center .outer-thanhtuu {
  justify-content: center;
}
.wrapper-thanhtuu.center .outer-thanhtuu .box-thanhtuu {
  margin: 0 40px;
}

.outer-value {
  display: flex;
  justify-content: center;
}
.outer-value .box-value {
  border-radius: 3px;
  display: flex;
  width: 110px;
  height: 128px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin: 0 10px;
}
.outer-value .box-value i {
  display: block;
  margin: 0 auto 10px auto;
}
.outer-value .box-value.one {
  background: #FFD300;
}
.outer-value .box-value.two {
  background: #D91378;
}
.outer-value .box-value.three {
  background: #13B6B5;
}
.outer-value .box-value.four {
  background: #14AEEF;
}
.outer-value .box-value.five {
  background: #F7941D;
}
.outer-value .box-value.six {
  background: #CFAC53;
}
@media screen and (max-width: 991px) {
  .outer-value {
    flex-wrap: wrap;
  }
  .outer-value .box-value {
    margin-bottom: 20px;
    width: 125px;
  }
}

.cm-detail p {
  padding: 20px 60px;
  position: relative;
  margin-bottom: 40px;
}
.cm-detail p.p-detail span {
  display: block;
  margin-bottom: 20px;
}
.cm-detail p .icon-quote-left {
  position: absolute;
  left: 0;
  top: 0;
}
.cm-detail p .icon-quote-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.cm-detail .rating {
  padding-left: 60px;
}
.cm-detail .rating i {
  display: inline-block;
}
.cm-detail .name {
  padding-left: 60px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 20px;
  display: block;
}
.cm-detail .name span {
  font-size: 16px;
  color: #FFD400;
  display: block;
  font-weight: normal;
  font-weight: 400;
}

.outer-life {
  display: flex;
}
.outer-life .art-life {
  width: 25%;
  overflow: hidden;
  position: relative;
  height: 500px;
}
.outer-life .art-life img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.outer-life .art-life:first-child {
  width: 50%;
}
.outer-life .art-life:after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 20%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60%);
}
.outer-life .art-life .title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 40px;
  color: #fff;
  z-index: 2;
  font-size: 20px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .outer-life {
    flex-wrap: wrap;
  }
  .outer-life .art-life {
    width: 50%;
  }
  .outer-life .art-life:first-child {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .outer-life .art-life {
    height: 300px;
  }
  .outer-life .art-life:first-child {
    height: 400px;
  }
}

.accordion-flush .accordion-item {
  border: none;
  font-size: 16px;
  line-height: 1.6;
  padding: 5px 0;
}
.accordion-flush .accordion-button {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 18px;
  color: #000000;
  padding: 0 0 10px 0;
  background: none !important;
  border: 0;
  box-shadow: none;
}
.accordion-flush .accordion-button:after {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-flush .accordion-button i {
  margin-right: 10px;
}

.breadcrumb {
  margin-bottom: 30px;
  font-size: 16px;
}
.breadcrumb .breadcrumb-item {
  color: #828282;
}
.breadcrumb .breadcrumb-item a {
  color: #B9B9B9;
  text-decoration: none;
}
.breadcrumb.center {
  justify-content: center;
}

.box-scroll {
  max-width: 400px;
  padding: 15px 25px;
  background: rgba(207, 179, 83, 0.31);
  border-radius: 5px;
  margin-bottom: 45px;
}
.box-scroll ul {
  padding: 0;
  margin: 0;
  display: block;
}
.box-scroll ul li {
  display: block;
  margin-top: 10px;
}
.box-scroll ul li a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.box-scroll ul li a i.icon-check {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
.box-scroll ul li a.active {
  background: none !important;
  color: #FFD400 !important;
}
.box-scroll ul li a:hover {
  color: #FFD400 !important;
}
.box-scroll ul li:first-child {
  margin-top: 0;
}

.art-detail {
  font-size: 18px;
  line-height: 1.6;
}
.art-detail .list-tools {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.art-detail .list-tools li {
  cursor: pointer;
  display: flex;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #000000;
  margin: 0 8px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 12px;
  align-items: center;
  font-weight: 600;
}
.art-detail .list-tools li i {
  margin-right: 10px;
}
.art-detail .outer-img {
  margin-bottom: 30px;
  text-align: center;
}
.art-detail .outer-img img {
  max-width: 100%;
}
.art-detail .outer-img .s-txt {
  color: #C4C4C4;
  font-size: 17px;
  display: block;
  margin-top: 10px;
}
.art-detail .outer-video {
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;
  position: relative;
}
.art-detail .outer-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
}

.outer-parallax-contact .container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}
.outer-parallax-contact .container .frm-apply {
  width: 50%;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  color: #fff;
  font-family: "Comfortaa", cursive;
}
.outer-parallax-contact .container .frm-apply .form-control {
  color: #fff;
  border-bottom: 1px solid #FFD400;
}
@media screen and (max-width: 991px) {
  .outer-parallax-contact .container .frm-apply {
    width: 100%;
  }
}
.outer-parallax-contact .bg {
  width: 50%;
  right: 0;
  top: 0;
  height: 100vh;
  background: rgba(255, 212, 0, 0.5);
  position: absolute;
  z-index: 1;
  -webkit-clip-path: polygon(40% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(40% 0%, 100% 0, 100% 100%, 0% 100%);
}
@media screen and (max-width: 540px) {
  .outer-parallax-contact .bg {
    display: none;
  }
}

.frm-general {
  position: relative;
  z-index: 2;
  font-size: 16px;
  color: #000000;
  font-family: "Comfortaa", cursive;
}
.frm-general .inner-frm {
  position: relative;
  padding-top: 25px;
}
.frm-general .inner-frm > label {
  position: absolute;
  left: 0;
  top: 20px;
  transition: all 0.2s ease-in-out 0s;
  color: #000000;
}
.frm-general .inner-frm:hover > label {
  top: 0;
  font-size: 14px;
}
.frm-general .red {
  color: #ED1C24;
}
.frm-general p {
  font-size: 18px;
}
.frm-general .form-control {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  border-bottom: 1px solid #FFD400;
  resize: none;
}
.frm-general .form-control:focus {
  border: 0;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #414142;
}
.frm-general .form-control::-moz-placeholder {
  color: #000000;
}
.frm-general .form-control:-ms-input-placeholder {
  color: #000000;
}
.frm-general .form-control::placeholder {
  color: #000000;
}
.frm-general .btn-style {
  width: 100%;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.box-bg {
  width: 100%;
  max-width: 300px;
  text-align: center;
}
.box-bg img {
  width: 300px;
}
.box-bg span {
  display: block;
  font-size: 16px;
  margin-top: 16px;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .box-bg {
    display: none;
  }
}

.list-news {
  margin: 0 0 45px 0;
  text-align: center;
  padding: 0;
}
.list-news li {
  display: inline-block;
  padding: 0 12px;
}
.list-news li a {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
.list-news li a:hover {
  color: #FFD400;
}

.block-slide {
  margin-top: 40px;
}
.block-slide .title {
  background: url(../img/bgd-title.png) left top no-repeat;
  background-size: cover;
}
.block-slide .inner-block-slide {
  padding: 30px;
  border: 1px solid #C4C4C4;
  position: relative;
}
.block-slide .inner-block-slide .swiper-button-next {
  right: -60px;
}
.block-slide .inner-block-slide .swiper-button-next::after {
  font-size: 24px;
  color: #444;
}
.block-slide .inner-block-slide .swiper-button-prev {
  left: -60px;
}
.block-slide .inner-block-slide .swiper-button-prev::after {
  font-size: 24px;
  color: #444;
}
.block-slide .title {
  text-align: center;
  border-bottom: 3px solid #000000;
}
.block-slide .title span {
  display: inline-block;
  padding: 5px 40px;
  background: #000000;
  color: #fff;
  text-transform: uppercase;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 20px;
}

.section-list {
  padding-top: 0;
}
.section-list .container {
  display: flex;
}
.section-list .container .right-side {
  width: 300px;
}
.section-list .container .left-side {
  width: 1px;
  flex-grow: 1;
  padding-right: 30px;
}
@media screen and (max-width: 991px) {
  .section-list .container {
    display: block;
  }
  .section-list .container .left-side {
    width: 100%;
    padding: 0;
  }
  .section-list .container .right-side {
    margin-top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .section-believe .px-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.block-bar .inner {
  border: 2px solid rgba(214, 214, 214, 0.4);
  padding: 20px;
}
.block-bar .title {
  padding: 10px 20px;
  color: #fff;
  background: #414142;
  font-size: 18px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
}
.block-bar .title-list {
  font-size: 16px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  padding: 15px 0;
  border-top: 1px solid #262626;
  margin-bottom: 0;
}
.block-bar .title-list a {
  color: #000000;
  text-decoration: none;
}
.block-bar .title-list a:hover {
  color: #FFD400;
}
.block-bar .title-list:last-child {
  padding-bottom: 0;
}
.block-bar .art-news-s header h3 a {
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .sticky-top {
    top: 110px;
  }
}

.art-detail {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.art-detail h1 {
  font-size: 34px;
  font-weight: 900;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
.art-detail header {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.art-detail header .txt-head {
  border-bottom: 1px solid #eee;
  padding-bottom: 16px;
}
.art-detail section {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.outer-tag {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 0;
  align-items: center;
}
.outer-tag .tag {
  display: flex;
  font-weight: 900;
  flex-grow: 1;
  width: 1px;
  flex-wrap: wrap;
}
.outer-tag .tag > a {
  font-weight: 400;
  margin-right: 16px;
  color: #7E7E7E;
  text-decoration: none;
}
.outer-tag .tag > a:first-child {
  margin-left: 16px;
}
.outer-tag .tag > a:hover {
  color: #FFD400;
}
.outer-tag .list-social {
  display: flex;
  margin: 0;
  width: 165px;
}
.outer-tag .list-social li {
  margin-right: 15px;
}
.outer-tag .list-social li a {
  border: 1px solid #FFD400;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
}
.outer-tag .list-social li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 991px) {
  .outer-tag {
    flex-wrap: wrap;
  }
  .outer-tag .list-social {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }
}

.list-related-news {
  padding-left: 16px;
  border-top: 1px solid #000;
  padding-top: 30px;
}
.list-related-news li {
  padding: 7px 0;
}
.list-related-news li a {
  text-decoration: none;
  font-weight: 700;
  color: #414142;
}
.list-related-news li a:hover {
  color: #FFD400;
}

.list-position {
  font-size: 18px;
  padding-right: 50px;
}
.list-position li {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  margin-bottom: 20px;
}
.list-position li .number {
  font-size: 16px;
}
.list-position li .left {
  display: flex;
  align-items: center;
}
.list-position li .left i {
  margin-right: 16px;
}
@media screen and (max-width: 991px) {
  .list-position {
    padding-left: 0;
    padding-right: 0;
    margin-top: -16px;
    margin-bottom: 50px;
  }
}

.pagination {
  justify-content: center;
}
.pagination .page-item .page-link {
  padding: 14px 20px;
  background: #F1F1F1;
  color: #696969;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 700;
}
.pagination .page-item .page-link:hover {
  color: #000000;
}
.pagination .page-item.active .page-link {
  background: #FFD400;
}
.pagination .page-item:first-child a {
  padding-left: 30px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.pagination .page-item:last-child a {
  padding-right: 30px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.border-dash {
  margin: 30px 0;
  border-top: 1px dashed #262626;
  display: block;
}

.link-job {
  font-weight: 900;
  color: #000000;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link-job i {
  margin-left: 10px;
}

.outer-file {
  position: relative;
  display: flex;
}
.outer-file label {
  cursor: pointer;
  display: flex;
  width: 220px;
  position: relative;
  z-index: 2;
  background: #fff url(../img/icon/icon-file.svg) left center no-repeat;
  padding-left: 30px;
  letter-spacing: -0.5px;
}
.outer-file input {
  cursor: pointer;
  border: 0 !important;
  background: none;
  position: absolute;
  left: 128px;
  top: 0;
  z-index: 1;
}

.block-filter {
  margin-bottom: 50px;
}
.block-filter .select2 {
  width: 100% !important;
}
.block-filter .select2 .selection .select2-selection {
  height: 42px;
  border-radius: 0;
}
.block-filter .select2 .selection .select2-selection .select2-selection__rendered {
  height: 40px;
  line-height: 40px;
  background: #000000;
  border-radius: 0;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}
.block-filter .select2 .selection .select2-selection .select2-selection__arrow {
  top: 8px;
  right: 8px;
}
.block-filter .select2 .selection .select2-selection .select2-selection__arrow b {
  border: 0;
  width: 20px;
  height: 12px;
  background: url(../img/icon/icon-up.svg) center no-repeat;
  margin-left: 0;
  left: 0;
  margin-top: -6px;
}

.select2-dropdown {
  margin-top: 5px;
  border-radius: 0;
  border: 0;
}
.select2-dropdown .select2-search {
  display: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #7E7E7E;
  color: #fff;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
  background: #7E7E7E;
  color: #fff;
}

.select2-container--default .select2-results__option--selected {
  background: none;
  color: #000000;
}

.select2-results__option {
  background: none;
  color: #000000;
  padding-left: 15px;
  padding-right: 15px;
}

.inner-contact {
  position: relative;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.inner-contact .list-share {
  position: absolute;
  right: -50px;
  top: 0px;
  width: 50px;
  background: #FFD400;
  list-style: none;
  padding: 0;
}
.inner-contact .list-share li {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inner-contact .list-share li:hover {
  background: #fff;
}
.inner-contact .map {
  width: 25%;
}
.inner-contact .frm-apply {
  width: 45%;
  padding: 50px;
}
.inner-contact .box-contacts {
  width: 30%;
  padding: 40px 40px 40px 0;
}
.inner-contact .box-contacts img {
  display: block;
  max-width: 100%;
  margin-bottom: 48px;
}
.inner-contact .box-contacts address {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
.inner-contact .box-contacts address span {
  display: block;
  color: #000000;
  margin-top: 20px;
  padding-left: 40px;
  position: relative;
}
.inner-contact .box-contacts address span i {
  position: absolute;
  left: 0;
  top: 0;
}
.inner-contact .box-contacts address a {
  display: block;
  color: #000000;
  text-decoration: none;
  margin-top: 20px;
  padding-left: 40px;
  position: relative;
}
.inner-contact .box-contacts address a i {
  position: absolute;
  left: 0;
  top: 0;
}
.inner-contact .swiper-brand {
  width: 100%;
  border-top: 1px solid #000000;
  margin-top: 30px;
}

.contact {
  padding-bottom: 230px;
  background: url(../img/bg-contact.png) center bottom no-repeat;
}

.nav-pillss {
  padding-bottom: 16px;
  border-bottom: 1px dashed #000000;
}
.nav-pillss .nav-item {
  margin-right: 30px;
}
.nav-pillss .nav-link {
  padding: 0;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #C4C4C4;
  cursor: pointer;
}
.nav-pillss .nav-link.active {
  background: none;
  color: #000000;
}/*# sourceMappingURL=style.css.map */